.hover-border:hover{
    -fx-border-color:#0fbcf9;
    -fx-border-width:2px 0px 0px 2px;
    -fx-background-color:beige;
    -fx-cursor:hand;
}
.cursor-hand{
    -fx-cursor:hand;
}
.hover-fade:hover{
    -fx-background-color:#e2e2e2 !important;
    -fx-cursor:hand;
}
.hover-btn{
    -fx-background-color:beige;
    -fx-cursor:hand;
}
.login-pane{
    -fx-background-color:beige;
}
.submitButton:hover{
    -fx-background-color:#2E64E8 !important;
    -fx-cursor:hand;

}
.submitclosing:hover{
    -fx-background-color:#F02222;
    -fx-cursor:hand;
}

.buttonchange{
    -fx-background-color:#FFFFFF;
   
    -fx-border-radius: 7px;
    -fx-font-size: 1.4em;
    -fx-cursor: hand;  
}
.buttonchange:hover{
  -fx-background-color :red;
}